.slide-in {
  will-change: transform;
  transform: translateY(0vh);
}

.baseAnimation {
  position: relative;
  left: 1200px;
  transition: left 2s ease-in;
}

.targetAnimation {
  left: 100px;
}

.myTitle-enter {
  opacity: 0;
}

.myTitle-enter-active {
  opacity: 0.5;
  transition: opacity 1000ms;
}

//cssTransitions

.scroll-down {
  position: absolute;
  transform: translateY(0);
}

.scroll-down-enter {
  transform: translateY(100%);
}

.scroll-down-enter-active {
  transform: translateY(100%);
  transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
}

.scroll-down-exit {
  transform: translateY(0);
}

.scroll-down-exit-active {
  transform: translateY(-100%);
  transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
}

.scroll-up {
  position: absolute;
  transform: translateY(0);
}

.scroll-up-enter {
  transform: translateY(100%);
}

.scroll-up-enter-active {
  transform: translateY(100%);
  transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
}

.scroll-up-exit {
  transform: translateY(0);
}

.scroll-up-exit-active {
  transform: translateY(-100%);
  transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
}
