.home__wrapper {
  height: 100vh;
  // scroll-snap-type: y mandatory;
}

// ------------------------
// ------------------------
// graphical element made with css
// ------------------------
// ------------------------
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__wrapper {
  position: absolute;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  max-width: 1080px;
  margin: auto 0;
  z-index: 99;
}
.hide {
  opacity: 0%;
}

.button {
  display: flex;
  margin-bottom: 5rem;
}
