.home__wrapper {
  height: 100vh;
  // scroll-snap-type: y mandatory;
}

// ------------------------
// ------------------------
// graphical element made with css
// ------------------------
// ------------------------
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__wrapper {
  position: absolute;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  max-width: 1080px;
  margin: auto 0;
  z-index: 99;
}
.hide {
  opacity: 0%;
}

.circle--list {
  position: relative;
  top: 0rem;
  display: flex;
  height: 100vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    //   padding: 0rem 1.25rem 0rem 1.25rem;
  }
  @include tablet-hd {
    // padding: 6rem 3rem 0 3rem;
    flex-flow: row;
  }
  @include desktop {
    // padding: 0rem 3rem 0 3rem;
  }
}

.circle--segment {
  padding: 0 0 3rem 0;
  @include tablet {
    padding: 0 0.5rem 0rem 0.5rem;
  }
}

.circle--catagory {
  display: flex;
  flex-flow: row;
}

.circle {
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2.25rem;
}

.circle--subtitle {
  display: flex;
  margin-top: 0.35rem;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.one {
  background-image: radial-gradient(circle at top right, #ff7200, #ffd500 80%);
  //   filter: blur(0.125rem);
}
.two {
  margin: 0 1rem;
  background-image: radial-gradient(
    circle at bottom right,
    #ff0000,
    #ff9100 70%
  );
  //   filter: blur(0.125rem);
}
.three {
  background-image: radial-gradient(circle at top left, #e08995, #ff0000 45%);
  //   filter: blur(0.125rem);
}
.four {
  background-image: radial-gradient(
    circle at bottom center,
    #ff0084,
    #a100e6 80%
  );
  //   filter: blur(0.125rem);
}
.five {
  margin: 0 1rem;
  background-image: radial-gradient(circle at top center, #3b0753, #8900ff 90%);
  //   filter: blur(0.125rem);
}
.six {
  background-image: radial-gradient(
    circle at bottom right,
    #290883,
    #0e00fd 70%
  );
  //   filter: blur(0.125rem);
}
.seven {
  background-image: radial-gradient(circle at top right, #001654, #0095ff 80%);
  //   filter: blur(0.125rem);
}
.eight {
  margin: 0 1rem;
  background-image: radial-gradient(
    circle at bottom right,
    #00ff62,
    #007bff 70%
  );
  //   filter: blur(0.125rem);
}
.nine {
  background-image: radial-gradient(
    circle at bottom right,
    #03520b,
    #5ad900 90%
  );
  //   filter: blur(0.125rem);
}

.button {
  display: flex;
  margin-bottom: 5rem;
}
